#active{
    color: rgb(109, 169, 219);
}
.saw{
    color:grey;
}
a {
    color: grey;
    text-decoration: none;
}
h1{
    background-color:rgb(68, 68, 68);
    padding: 20px;
    margin: 0px;
    font-size: 40px;
    text-align: center;
}
#grid{
    display: grid;
    grid-template-columns: 100px 1fr;
}
#grid ol{
    width: 100px;
    padding: 20px;
    border-right: gray solid 3px;
}
#article{
    padding-left: 60px;
}
@media(max-width: 800px) {
    #grid{
        display: block;
    }
    #article{
        padding-left: 20px;
    }
    #grid ol{
        border-right: none;
    }
}
.search-bar {
    width: 500px;
}
div{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
li{
    list-style: none;
}